<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../static/css/styles.css">
    </head>

    <title>Space Decor</title>
    <nav class="navbar navbar-inverse border-radius-0">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Space Decor</span>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/dashboard">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/employees">Employees</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div>
      {% block body %}{% endblock %}
    </div>

    <footer class="navbar-inverse">
      <div>Footer</div>
    </footer>
</html>