{% extends "index.html" %}
{% block body %}
    {{ super() }}
        <div class="background">
            <div class="row width-50">
                <h2>Signup</h2>
                <form method="POST" action="/signup_user">
                    <div class="form-group">
                        <label for="fname">First Name: </label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" required>
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name: </label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="psw-repeat"><b>Repeat Password: </b></label>
                        <input type="password" class="form-control" id="pwd-repeat" placeholder="Repeat Password" name="psw-repeat" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender: </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="male" checked>Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="female">Female
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile Number: </label>
                        <select class="form-control mobile" id="mobile">
                            <option value="+91">+91</option>
                            <option value="+92">+92</option>
                            <option value="+95">+95</option>
                        </select>
                        <input type="text" class="form-control mobile" id="mobile" placeholder="Enter Mobile Number" name="mobile">
                    </div>
                    <div class="color-red">{{error}}</div>
                    <button type="submit" class="btn btn-default">SIGNUP</button>
                    <a href="/">Already Registered? </a>
                </form>
            </div>
        </div>
{% endblock %}
